<!-- <div class="slideshow-container">

  <div class="mySlides fade" *ngFor="let url of imagesUrls; let i = index">
    <img src={{url}} style="width:100%" title="1" [hidden]="i!=slideIndex">
  </div> -->

  <!-- {{imagesUrl[0].url}}
  <div class="mySlides fade">
           <img src={{imagesUrl[0].url}} style="width:100%"title="1">
  </div>

  <div class="mySlides fade">
      <img src="assets/images/pop.jpg" style="width:100%"title="1">
  </div>

  <div class="mySlides fade">
      <img src="assets/images/want.jpg" style="width:100%"title="1">
  </div> -->

  <!-- <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>

</div> -->