<div class="slideshow-container">

  <div class="mySlides fade">
           <img src="assets/images/KGF.jpg" style="width:100%"title="1">
  </div>

  <div class="mySlides fade">
      <img src="assets/images/pop.jpg" style="width:100%"title="1">
  </div>

  <div class="mySlides fade">
      <img src="assets/images/want.jpg" style="width:100%"title="1">
  </div>

  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>

</div>
<br>

<!-- <div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div> -->